.collapsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";

  .headCollaps {
    display: flex;
    border-radius: 5px;
    background-color: #ff6060;
    color: white;
    width: 80%;
    height: 25px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    
}



  
  .headCollapsContent {
    display: flex;
    align-items: center;
    width: 80%;
  }
}
