.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    color:#ff6060; 
    
    
    h1{
        display: flex;
        justify-content: center;
        font-size: 250px;
    }
    p{
        display: flex;
        justify-content: center;
        font-size: 36px;
        
    }
    li{
        list-style: none;
        color: black;
    }
}